/.idea/deployment.xml
/.idea/dataSources.xml
/.idea/python_package.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
*.sql
/.idea/.gitignore
